html, body{
  margin: 0;
  padding: 0;
  background-color: white; 
}

a {
  text-decoration: none;
}

.button-list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 10vh;
  overflow-y: scroll;
  column-gap: 5px;
}

.hButton{
  border:none;
  background-color: #e6d195;
  color: black;
  text-align: center;
  border-radius: 5px;
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 3vw;
}

#pp {
  width: 20vw;
  height: 20vw;
  border-style: solid;
  border-radius: 50%;
  margin-left: 50%;
  margin-right: 50%;
}
