.name{
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 5vw;
  text-align: center;
}

#about{
  font-size: 3vw;
  text-align: center;
}

.box{
  width: 2vw;
  height: 2vw;
  background-color: black;
  animation: move 10s infinite;
  margin-left: 5vw;
}

@keyframes move{
  50%{ transform: translateX(78vw)}
  100%{ transform: translateX(0vw)}
}
